@import "tailwindcss";

@theme {
    --font-inter: var(--font-inter);
    --font-fraunces: var(--font-fraunces);

    --color-white: #fffdfd;
    --color-burgundy: #B3446C;
}

body {
    font-family: var(--font-inter), sans-serif;
}
