---
import { Font } from "astro:assets";

import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import "../styles/global.css";
---

<Font cssVariable="--font-inter" preload />
<Font cssVariable="--font-fraunces" preload />

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" initial-scale="1" />
        <link rel="icon" href="" type="image/svg+xml" />
        <title>Amel's Pages</title>
    </head>
    <body>
        <main
            class="bg-white text-gray-400 flex flex-col lg:flex-row gap-5 md:gap-10 lg:min-h-screen py-20 sm:px-20 px-10"
        >
            <section
                class="w-full lg:w-1/2 static lg:sticky lg:top-0 lg:h-[calc(100vh-160px)] flex flex-col lg:justify-center"
            >
                <span class="font-fraunces font-extralight text-4xl"
                    >Hey, I'm <a
                        href="https://www.linkedin.com/in/amelinda-amelinda/"
                        target="_blank"
                        class="text-burgundy font-light cursor-alias rounded decoration-wavy underline-offset-4 decoration-burgundy focus-visible:ring-4 focus-visible:ring-blue-200 focus:underline hover:underline"
                        >Amelinda</a
                    >. I'm passionate about turning ideas into functional
                    applications.</span
                >
                <div class="mt-10 flex gap-5">
                    <a
                        href="https://github.com/Amelinda2705"
                        target="_blank"
                        class="tracking-tight decoration-wavy underline-offset-4 cursor-alias transition-colors hover:text-burgundy hover:underline"
                        >Github</a
                    >
                    <a
                        href="https://www.linkedin.com/in/amelinda-amelinda/"
                        target="_blank"
                        class="tracking-tight decoration-wavy underline-offset-4 cursor-alias transition-colors hover:text-burgundy hover:underline"
                        >Linkedin</a
                    >
                    <a
                        href="#"
                        target="_blank"
                        class="tracking-tight decoration-wavy underline-offset-4 cursor-alias transition-colors hover:text-burgundy hover:underline"
                        >Resume</a
                    >
                </div>

                <!-- <span class="block mt-12"
                    >Whether it's a sleek <span
                        class="text-burgundy font-light cursor-alias rounded underline-offset-4 decoration-burgundy focus-visible:ring-4 focus-visible:ring-blue-200 focus:underline hover:underline"
                        >website</span
                    >, a <span
                        class="text-burgundy font-light cursor-alias rounded underline-offset-4 decoration-burgundy focus-visible:ring-4 focus-visible:ring-blue-200 focus:underline hover:underline"
                        >mobile</span
                    > app, or a robust <span
                        class="text-burgundy font-light cursor-alias rounded underline-offset-4 decoration-burgundy focus-visible:ring-4 focus-visible:ring-blue-200 focus:underline hover:underline"
                        >desktop</span
                    > tool, I enjoy the entire process, from understanding the problem
                    to writing the final line of code.</span
                > -->
            </section>
            <section class="w-full lg:w-1/2 flex flex-col">
                <About />
                <Projects />
            </section>
        </main>
    </body>
</html>
